
.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.logo-header img {
    width: 100%;
}

.login-header {
    text-decoration: none;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 14px 50px;
    font-size: 12px;
    font-weight: 700;
}

.login-header a {
    text-decoration: none;
    color: #2A7AE4;
}

.banner {
    background-image: url("../img/fundo.jfif");
    /*width: 1440px;
    height: 352px;*/
    padding: 32px;
    margin-top: 80px;
    color: white;
}

.texto-banner {
   margin-left: 150px;
}

h1 {
    font-size: 52px;
    font-weight: 700; 
}

h1 p {
    font-size: 22px;
    font-weight: 700;
}

.ver-console {
    width: 130px;
    height: 51px;
    padding: 16px;
    background-color: #2A7AE4;
    color: white;
    border: none;
}



@media (min-width: 320px) and (min-width: 650px) {
   .login-header {
    font-size: 14px;
   } 

}